@import url('https://fonts.googleapis.com/css2?family=Borel&family=Caveat:wght@400..700&family=Pacifico&family=Parisienne&family=Satisfy&display=swap');

/* Estilos de "Página Principal" */
body{
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(images/taza-cafe-780x470.jpg);
    background-size: cover;
    background-attachment: fixed;/*Fija la imagen de fondo, asi cuando hago scroll no se desplaza*/
    background-repeat: no-repeat; /*Para que la imagen no se repita*/

}

h1{
    font-family: "Parisienne", cursive;
    font-size: 3em;
    text-align: center;
    color: darkgoldenrod;
    margin-bottom: 5px;
}

#eslogan {
    font-family: 'Caveat', cursive; 
    font-style: italic;
    text-align: center;
    font-size: 2em;
    color: Cornsilk;
    border: 2px solid Cornsilk;
    width: 40%;
    margin: auto; /* Centra el párrafo en la página */
    display: block;  /* Asegura que se comporte como un elemento de bloque */
}

h2{
    font-family: "Parisienne", cursive;
    color: #ffe4c4;
}

ul li {
    color: white; /* Color blanco para los ítems */
}

ul li a {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-decoration: none;

}
/*¿Cuando damos propiedades en los enlaces dentro de una lista, hay que 
darle a todo el conjutnto que engloba al enlace o solo al enlace en si?*/
ul li a:hover {
    font-weight: bold; 
}

ul li a:active {
    color: DarkGoldenRod; 
}

.texto-normal{
    font-family: "Satisfy", cursive;
    font-size: 1.2em;
    color: #ffe4c4;
    text-align: justify;
    line-height: 2;
    padding: 30px;
}

#logocafe{ 
    border-radius: 50%;
    width: 10%;
}

#contenedor-logo{
    text-align: center;
}

/* Estilos página Carta */
.fotocarta{
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ajusta la imagen para que llene el espacio (200*200) sin deformarse */
}

.categoria{
    background-color: darkgoldenrod;
    font-size: 2em;
    text-shadow: 3px 3px white;
}

table, td, th {
    border: 3px solid darkgoldenrod;
    border-collapse: collapse;
    vertical-align: center;
    width: 50%;
    padding: 20px;
    margin: auto;
    
}
table{
    background-color: cornsilk;
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
   
}


/* Estilos del formulario */
form{
    border: solid 2px darkgoldenrod;
    border-radius: 20px;
    width: 50%;
    text-align: left;
    padding: 30px;
    background-color: black;
    color: cornsilk;
}

label{
    font-family: 'Caveat', cursive; 
    color: cornsilk;
    font-size: 1.5em;
}

.formulario {
    width: 70%; 
    margin: 0 auto; /* Centra el (div) que contiene el formulario */
  }
